@page
@model SL.WebExperience.Test.Web.Pages.Assets.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Asset</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Asset.CreatedWhen)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Asset.CreatedWhen)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Asset.UpdatedWhen)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Asset.UpdatedWhen)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Asset.Version)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Asset.Version)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Asset.FileName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Asset.FileName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Asset.CreatedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Asset.CreatedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Asset.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Asset.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Asset.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Asset.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Asset.Country)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Asset.Country.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Asset.MimeType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Asset.MimeType.Name)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Asset.AssetId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
